# Dependencies
**/node_modules
node_modules

# Git
.git
.gitignore

# Environment
.env
.env.*
**/.env
**/.env.*

# Build
dist
build
coverage
.next
.turbo

# IDE
.vscode
.idea

# Logs
*.log

# OS
.DS_Store
Thumbs.db